// Cell phones portrait
@include xs {
  .nav-section__phone-number {
    margin-left: 1.7rem;
  }

  .nav-section__drop-down {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .hero-section__hero-img {
    background: url("../img/header-tire-sm.png") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    h1 {
      margin: 2.6rem 0 0;
    }
  }

  #services {
    position: relative;
    margin: 5.4rem 0 4rem;
    padding: 0 0.6rem;
  }

  #footer {
    background: url("../img/brushed-metal-sm.png") center bottom no-repeat;
    background-attachment: fixed;
  }
}

// Cell phones landscape
@include sm {
  hr {
    margin: 2.8rem auto;
  }

  .nav-section {
    padding: 8px 12px;
  }

  .nav-section__ul-list {
    position: relative;
    transform: translateX(0);
    padding: 0;
    transition: none;
  }

  .nav-section__nav-items {
    display: flex;
    flex-direction: row;
    margin: 0 6px;
  }

  .nav-section__hamburger-btn {
    display: none;
  }

  .hero-section__hero-img {
    background: url("../img/header-tire-md.png") center bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;

    h1 {
      margin: 2.6rem 0 0;
    }
  }

  .about-section__about-info {
    h2 {
      font-size: 1.7rem;
    }
  }

  #services {
    position: relative;
    margin: 5.4rem 0 4rem;
  }

  #footer {
    background: url("../img/brushed-metal-md.png") center bottom no-repeat;
    background-attachment: fixed;
  }

  .footer-section__footer-items {
    .google-map {
      width: 400px;
      height: 275px;
    }
  }
}

// Tablets and small laptops
@include md {
  hr {
    margin: 3.4rem auto;
  }

  .hero-section__hero-img {
    h1 {
      font-size: 5rem;
    }
  }

  .about-section__about-info {
    h2 {
      font-size: 1.7rem;
    }
  }

  #services {
    position: relative;
    margin: 6rem 0 4rem;
  }

  .footer-section__footer-items {
    .google-map {
      width: 500px;
      height: 375px;
    }
  }
}

// Desktops and televisions
@include lg {
  hr {
    margin: 4.6rem auto;
  }

  .hero-section__hero-img {
    background: url("../img/header-tire-lg.png") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    h1 {
      margin: 2.6rem 0 0;
    }
  }

  .about-info {
    h2 {
      font-size: 1.7rem;
    }
  }

  .about-info-text {
    position: relative;
    padding: 1rem 0;
    text-align: center;
    width: 60%;

    p {
      width: 88%;
      color: #fff;
      margin: auto;
    }
  }

  #services {
    position: relative;
    margin: 6.4rem 0 4rem;

    h2 {
      margin-bottom: 1rem;
    }
  }

  .service-section__services-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .services-section__service-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .services-section__service-lg-left {
    width: 42%;
  }

  .services-section__service-lg-right {
    width: 42%;

    .hr-none {
      display: none;
    }
  }

  .services-area__service-lg-bottom {
    hr {
      width: 100%;
    }
  }

  .services-area__service {
    margin: 1.8rem;
  }

  #contact {
    hr {
      display: none;
    }

    display: flex;
    justify-items: center;
    align-items: center;
  }

  .contact-section__contact-area {
    width: 50%;
  }

  .contact-section__contact-form {
    cursor: pointer;

    fieldset {
      p {
        width: 80%;
        margin: 1rem auto 2rem;
        text-align: center;
      }
    }
  }

  #address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50%;
    position: relative;
  }

  .address-section__address-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-bottom: none;
    margin-bottom: 8rem;

    h2 {
      justify-self: flex-start;
    }

    h3 {
      margin: 0 0 1rem;
    }

    p {
      margin: 0.6rem;

      a {
        text-decoration: none;
        color: #5484fc;
        transition: all 400ms ease-out;

        &:hover {
          color: lighten(#5484fc, 18);
        }
      }
    }

    .social {
      margin: 0.36rem;
      color: #4267b2;
    }
  }

  .address-section__phone-number {
    color: #5484fc;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 400ms ease-out;
    margin-top: 0.6rem;

    &:hover {
      color: lighten(#5484fc, 18);
    }
  }

  #footer {
    background: url("../img/brushed-metal-lg.png") center bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .footer-section__footer-items {
    .google-map {
      width: 600px;
      height: 425px;
    }
  }
}

// Extra large monitors
@include xl {
  hr {
    margin: 5.8rem auto;
  }

  .about-section__about-info {
    h2 {
      font-size: 1.7rem;
    }
  }

  #services {
    position: relative;
    margin: 7.8rem 0 4rem;
  }

  .footer-section__footer-items {
    .google-map {
      width: 720px;
      height: 475px;
    }
  }
}
